{% extends "layout.html" %}

{% block body%}
<!-- ============================================================================================================================================== -->
<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- ============================================================================================================================================== -->
<div id=dataTable class="row justify-content-center">
  <div class="col-auto">
    <div class="container">
      <div class="row justify-content-center">
        <p id="singlePrediction"> Single data point prediction</p>
      </div>
    </div>
    <table class="table table-borderless ">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">sensor_00</th>
            <th scope="col">sensor_04</th>
            <th scope="col">sensor_06</th>
            <th scope="col">sensor_07</th>
            <th scope="col">sensor_08</th>
            <th scope="col">sensor_09</th>
            <th scope="col">sensor_10</th>
            <th scope="col">sensor_11</th>
            <th scope="col">sensor_12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <form autocomplete="off" action='/predict' method="POST">
              <td><input type="text" name="sensor_00" class="form-control" placeholder="sensor_00" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_04" class="form-control" placeholder="sensor_04" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_06" class="form-control" placeholder="sensor_06" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_07" class="form-control" placeholder="sensor_07" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_08" class="form-control" placeholder="sensor_08" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_09" class="form-control" placeholder="sensor_09" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_10" class="form-control" placeholder="sensor_10" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_11" class="form-control" placeholder="sensor_11" style="width:100px;">
              </td>
              <td><input type="text" name="sensor_12" class="form-control" placeholder="sensor_12" style="width:100px;">
              </td>
          </tr>
        </tbody>
      </table>
    </table>

    <div class="container">
      <div class="col text-center">
        <input type="submit" value="Predict" class="btn btn-primary" style="font-size: 18px; margin-top:0px">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================================================================================== -->

<div id=multidataTable class="row justify-content-center">
  <div class="col-auto">
    <div class="container">
      <div class="row justify-content-center">
        <p id="singlePrediction"> Multiple data point prediction</p>
      </div>
    </div>
    <table class="table table-borderless ">
      <table class="table table-responsive">
        <thead>
          <tr>
            <form action='/multi_predict' method='POST' enctype="multipart/form-data">
              <th><input type="file" name='test_file' class="form-control-file" id="loadcsv"></th>

              <th><input id=predictButton type="submit" value=Predict class="btn btn-primary"></th>
            </form>
            <form action='/download' method='POST'>
              <th><input type="submit" class="btn btn-primary" value=Download></th>
            </form>
          </tr>
        </thead>
      </table>
    </table>
  </div>
</div>
</div>

{% endblock %}